{% extends 'todoapp/base.html' %}

{% block content %}
<h1>TODO List</h1>
<form method="POST">
    {% csrf_token %}
    {{ task_form.as_p }}
    <button type="submit" class="btn btn-primary">Add Task</button>
</form>
<ul class="list-group mt-4">
    {% for task in tasks %}
        <li class="list-group-item">
            <strong>{{ task.content }}</strong>
            {% if task.completed %}
                <span class="text-success">Done</span>
            {% else %}
                <span class="text-danger">Not done</span>
            {% endif %}
            <br>
            Created: {{ task.created_at }}{% if task.deadline %}, Deadline: {{ task.deadline }}{% endif %}
            <br>
            Tags: {% for tag in task.tags.all %}{{ tag.name }} {% endfor %}
            <br>
            <a href="{% url 'update_task' task.id %}">Update</a>
            <a href="{% url 'delete_task' task.id %}">Delete</a>
            {% if task.completed %}
                <a href="{% url 'toggle_task_status' task.id %}" class="btn btn-secondary">Undo</a>
            {% else %}
                <a href="{% url 'toggle_task_status' task.id %}" class="btn btn-success">Complete</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}
